/* Add this to your CSS file */
.scrollbar-hide::-webkit-scrollbar {
  display: none;
}
h1 {
  font-family: "Poppins", sans-serif;
  font-weight: 700;
}

p {
  font-family: "Poppins", sans-serif;
  font-weight: 300;
}
.primary-color {
  color: #004165;
}
